[submodule "submodules/VREPaaS-helm-charts"]
	path = submodules/VREPaaS-helm-charts
	url = git@github.com:QCDIS/VREPaaS-helm-charts.git
[submodule "submodules/VREPaaS"]
	path = submodules/VREPaaS
	url = git@github.com:QCDIS/VREPaaS.git
[submodule "submodules/NaaVRE"]
	path = submodules/NaaVRE
	url = git@github.com:QCDIS/NaaVRE.git
[submodule "submodules/generic-device-plugin"]
	path = submodules/generic-device-plugin
	url = https://github.com/squat/generic-device-plugin.git
