[submodule "submodules/VREPaaS-helm-charts"]
	path = services/vrepaas/submodules/VREPaaS-helm-charts
	url = git@github.com:QCDIS/VREPaaS-helm-charts.git
[submodule "submodules/VREPaaS"]
	path = services/vrepaas/submodules/VREPaaS
	url = git@github.com:QCDIS/VREPaaS.git
[submodule "submodules/NaaVRE"]
	path = services/naavre/submodules/NaaVRE
	url = git@github.com:QCDIS/NaaVRE.git
[submodule "submodules/NaaVRE-visualization-api"]
	path = services/NaaVRE-visualization-api
	url = git@github.com:QCDIS/NaaVRE-visualization-api.git